<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Goal</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-img" style="background-image: url('https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2495&q=80');">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 text-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-2 fw-bold" href="/userdashboard">Home</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/td/goals">Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/edit/{{request.session.user_id}}">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/posts/{{request.session.user_id}}">
                        Posts
                    </a>
                </li>
            </ul>
            <p class="mt-2">
                Welcome, {{request.session.user_name}}  |   
                <a href="/logout" class="me-4 text-blue">Log-Off</a>
            </p>
        </div>
    </nav>
    <p class="container border border-1  border-dark p-2 mb-3 rounded">
        <span class="fw-bold fs-5">All users:</span> 
        <span class="fst-italic fw-lighter">
            (Only Logged-Users can render this page with a GET request if they are currently logged in.)
        </span>
        Users can edit a goal and upon a submitted-change the user will be sent back to Goals-page. Validations for
        the edited goal exist in terms of character length(must be 3 characters) 
    </p>
    <div class="container d-grid d-md-flex p-4 justify-content-md-end">
        <a href="/td/goals" role="button" class="btn btn-lg btn-primary text-center me-md-2 fw-bold p-2 rounded">Return to Goals</a>
        <a href="/delete-goal/{{goal.id}}/process" role="button" class="btn btn-lg btn-danger text-center me-md-2 fw-bold p-2 rounded">Delete Goal</a>
    </div>
    <h1 class="container text-center rounded col-6 p-2 fs-1 fw-bolder mt-4">Lets make some quick changes...</h1>
    <h4 class="container text-center mb-5 fst-italic">(Edit your goal below)</h4>
    {% if messages %}
    <ul class='container justify-content-center'>
        {% for message in messages %}
        <li class='text-danger' {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="container col-5 bg-light border border-2  border-danger mt-5 p-4 rounded" action="/goals/{{goal.id}}/edit" method="POST">
        {% csrf_token %}
        <h3 class="container fw-bold text-center mb-4">Make changes:</h3>
        <textarea name="goal" class="form-control text-secondary" cols="10" rows="4">{{goal.goal}}</textarea>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
            <button type="reset" class="btn-danger text-center col-3 p-2 fw-bold rounded">Cancel</button>
            <button type="submit" class="btn-success text-center col-3 p-2 fw-bold rounded">Edit</button>
        </div>
    </form>
</body>
</html>